<div *ngIf="isAuthenticated$ | async">
  <mat-nav-list class="navbar">
    <h3 mat-subheader>Menú Principal</h3>

    <ng-container *ngIf="currentUser$ | async as user">
      <a mat-list-item
         *ngFor="let item of getVisibleMenuItems(user)"
         [routerLink]="item.path"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </ng-container>

    <mat-divider></mat-divider>

    <button mat-list-item (click)="logout()" class="logout-item">
      <mat-icon>logout</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-nav-list>
</div>
