<div>
  <h2>Agrega estudiante</h2>
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Nombre" />
      <mat-error *ngIf="studentForm.get('name')?.invalid && studentForm.get('name')?.touched">El nombre es requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="surname" placeholder="Apellido" />
      <mat-error *ngIf="studentForm.get('surname')?.invalid && studentForm.get('surname')?.touched">El apellido es requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Edad</mat-label>
      <input matInput formControlName="age" placeholder="Edad" />
      <mat-error *ngIf="studentForm.get('age')?.invalid && studentForm.get('age')?.touched">La edad es requerida y debe ser un número entre 1 y 120</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>RUT</mat-label>
      <input matInput formControlName="rut" placeholder="RUT" />
      <mat-error *ngIf="studentForm.get('rut')?.invalid && studentForm.get('rut')?.touched">El RUT es requerido y debe tener el formato correcto</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Promedio</mat-label>
      <input matInput formControlName="average" placeholder="Promedio" />
      <mat-error *ngIf="studentForm.get('average')?.invalid && studentForm.get('average')?.touched">El promedio es requerido y debe ser un número entre 0 y 10</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="studentForm.invalid">Agregar estudiante</button>
    <button mat-button type="button" (click)="onReset()">Limpiar</button>

  </form>
</div>

