<!-- <div class="container">
  <app-toolbar class="toolbar"></app-toolbar>
  <app-navbar (activeSection)="activeSection = $event" class="navbar"></app-navbar>
  <div class="content">
    <ng-container *ngIf="activeSection === 'students'">
      <app-students-table class="students-table" [students]="students"></app-students-table>
    </ng-container>

    <ng-container *ngIf="activeSection === 'add'">
      <app-add-form (studentAdded)="addStudent($event)"></app-add-form>
    </ng-container> -->

    <!-- <ng-container *ngIf="activeSection === 'students'">
      <app-students-table class="students-table" [students]="students"></app-students-table>
    </ng-container>

    <ng-container *ngIf="activeSection === 'students'">
      <app-students-table class="students-table" [students]="students"></app-students-table>
    </ng-container> -->
  <!-- </div>
  <app-add-form (studentAdded)="addStudent($event)"></app-add-form>
</div> -->




<!-- <div class="container">
  <app-toolbar (activeSection)="activeSection = $event"></app-toolbar>
  <div class="content">
    <ng-container *ngIf="activeSection === 'students'">
      <app-students-table class="students-table" [students]="students"></app-students-table>
    </ng-container>
    <ng-container *ngIf="activeSection === 'add'">
      <app-add-form (studentAdded)="addStudent($event)"></app-add-form>
    </ng-container>
  </div>
</div> -->






<app-toolbar (activeSection)="activeSection = $event"></app-toolbar>
<div class="main-content">
  <div class="left-panel">
    <app-add-form (studentAdded)="addStudent($event)"></app-add-form>
  </div>
  <div class="right-panel">
    <app-students-table class="students-table" [students]="students"></app-students-table>
  </div>
</div>
